.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10%;
}

.App-header {
  background-color: #222;
  height: 50%;
  padding: 5%;
  color: white;
}

.EmptyDiv {
  padding: 5%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
